.skills {
    --color-skills--list-bg: #ffffff24;
    --color-skills--list-item-bg: #00000043;
    --color-skills--list-item-border: #ffffff30;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.list {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--color-skills--list-bg);
    width: fit-content;
    padding: 0.5rem;
    border-radius: 10px;
    
}

.listItem {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-skills--list-item-bg);
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.hideNames::selection {
    background-color: transparent;
}

.hideNames {
    font-size: 30px;
    line-height: 15px;
    padding: 0.5rem;
    padding-top: 0;
    border-radius: 99px;
    margin: 0;
    position: absolute;
    right: 5px;
    top: -22px;
    cursor: pointer;
    background-color: var(--color-skills--list-bg);
}

.name {
    font-size: 12px;
    margin: 0;
    margin-top: 0.2rem;
    line-height: 18px;
    background-color: rgba(255, 255, 255, 0.094);
    border-radius: 99px;
    padding: 0.3rem 0.6rem;
}

.icon {
    width: 20px;
    height: min-content;
}