.projects {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

.projectList {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}

.projectWrap {
    background-color: rgba(0, 128, 255, 0.923);
    display: flex;
    padding: 1rem 0;
    position: relative;
    width: 80%;
    border-radius: 20px;
    border: 1px solid white;
}

.screenshotWrap {
    position: relative;
    left: -40px;
    top: -40px;
    width: fit-content;
    height: fit-content;
    background-color: rgba(89, 89, 89, 0.298);
    backdrop-filter: blur(10px);
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.389);
}

.screenshot {
    width: 300px;
    border-radius: 5px;
}

.infoWrap {
    display: flex;
    flex-direction: column;
    position: relative;
    left: -30px;
}

.name {
    place-self: end;
    margin: 0;
    border-bottom: 1px solid white;
}

.btnWrap {
    display: flex;
    justify-content: space-evenly;
    gap: 0.5rem;
}

.btn {
    padding: 0.8rem 1.5rem;
    font-size: 16px;
    color: white;
    background-color: transparent;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.793);
    cursor: pointer;
    box-shadow: 0px 1px 1px black;
    transition: background-color 0.15s;
}

.btn:hover {
    background-color: rgba(255, 255, 255, 0.174);
    border-color: rgba(255, 255, 255, 0.561);
    cursor: pointer;
}

.btn:active {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 1px black;

}


.stackWrap {
    display: flex;
    gap: 0.3rem;
    background-color: rgba(0, 0, 0, 0.17);
    width: fit-content;
    padding: 0.3rem 0.5rem;
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.336);
}

.stackItem {
    display: flex;
    background-color: rgba(0, 0, 0, 0.287);
    border-radius: 6px;
}

.stackIcon {
    width: 20px;
    height: fit-content;
    padding: 0.4rem;
    padding-bottom: 0.2rem;
}



@media screen and (max-width: 800px) {
    .projectWrap {
        width: 90%;
        margin-top: 4rem;
        padding: 1.5rem;
        flex-direction: column;
    }

    .screenshotWrap {
        left: 0;
        top: -70px;
        place-self: center;
    }

    .infoWrap {
        left: 0;
        top: -50px;
    }

    .name {
        place-self: center;
    }
    
  
}

