.nav {
    --color-nav--bottom-border: rgba(255, 255, 255, 0.393);
    --color-nav--link: rgba(255, 255, 255, 0.888);
}

.nav {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    border-bottom: 1px solid var(--color-nav--bottom-border);
    backdrop-filter: blur(10px);
}

.navLogo {
    width: 60px;
    height: fit-content;
}

.navLinkList {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navLink {
    color: var(--color-nav--link);
    text-decoration: none;
}

.navLink:hover {
    text-decoration: underline;
}